iframe {
  display: block;
  min-width: 100%; 
  border: none;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.table td, .table th {
  padding: .06rem .04rem;
}
.col-12 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
}
